@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-gradient-to-br from-violet-50 via-purple-50 via-fuchsia-50 to-pink-50 text-gray-900;
  background-attachment: fixed;
}

